.alert.alert-info(*ngif='!(loading.status.dic && loading.status.q && loading.status.com && loading.status.user)')
	.alert-box
		.loader
	.alert-box
		| {{ loading.text }}
.layout(*ngif='loading.status.dic && loading.status.q && loading.status.com && loading.status.user')
	.top.nowrap
		.back-button
			button.back-button((click)='goBack()') <
		.q-title {{ dic.questionTitle }}
		.add-button
			button.add-button +
		span.q-last-time-dis
			span {{ dic.lastDisTime }} {{ dic.lastDisTimeStatic }}
	.body
		.question.clear
			.question-col-left
				.question-row-title
					.question-avatar((click)='openModal(question.author)')
						span.glyphicon.glyphicon-user
					.question-author((click)='openModal(question.author)')
						span.question-author-name {{ question.author }}
						span(style='color: grey;') {{ question.desc[1] }}
					.question-title.nowrap
						span {{ question.title }}
				.question-row-content
					.question-desc
						span {{ question.content }}
			.question-col-right
				.question-row-options
					button.button-link {{ dic.unfollowBtn }}
				.question-row-votes
					.question-votes-couter
						span {{ question.upvotes - question.downvotes | abs }}
					.question-votes-couter-desc
						span(*ngif='question.upvotes - question.downvotes < 0') {{ dic.downVote }}
						span(*ngif='question.upvotes - question.downvotes >= 0') {{ dic.upVote }}
					.question-vote
						ul.vote
							li.vote-up([class.disabled]='!voteEnable || isQVoted(question.id)')
								span((click)='qUpVote(question)') ▴
							li.vote-down([class.disabled]='!voteEnable || isQVoted(question.id)')
								span((click)='qDownVote(question)') ▾
		.question-footer
			button.question-btn {{ dic.newAnswBtn }}
		.comments-count
			span.comments-count-number {{ question.peerAnsw }}
			span {{ dic.peerAnsw }} {{ question.author }}
		div(*ngfor="let com of relComments | limitComTo:'ANSWERED'; index as _i;")
			.comment.clear
				.comment-col-left
					.comment-row-title
						.comment-avatar((click)='openModal(com.author)')
							span.glyphicon.glyphicon-user
						.comment-author((click)='openModal(com.author)')
							span.comment-author-name {{ com.author }}
							span(style='color: grey;') {{ dic.comDesc }} •
							span.comment-author-time {{ com.time }}
						.comment-desc
							span {{ com.content }}
				.comment-col-right
					.comment-row-votes
						.comment-votes-couter
							span {{ com.upvotes - com.downvotes | abs }}
						.comment-votes-couter-desc
							span(*ngif='com.upvotes - com.downvotes < 0') {{ dic.downVote }}
							span(*ngif='com.upvotes - com.downvotes >= 0') {{ dic.upVote }}
						.comment-vote
							ul.vote
								li.vote-up([class.disabled]='!voteEnable || isComVoted(com.id)')
									span((click)='comUpVote(com)') ▴
								li.vote-down([class.disabled]='!voteEnable || isComVoted(com.id)')
									span((click)='comDownVote(com)') ▾
			.comment-footer(*ngif='!com.relDis')
				button.comment-btn {{ dic.comBtn }}
			div(*ngfor="let sub of relComments | limitComTo:'COMMENTED':com.id; index as _i; last as _end;")
				.subcomment.clear
					.subcomment-col-left
						.subcomment-row-title
							.subcomment-avatar((click)='openModal(sub.author)')
								span.glyphicon.glyphicon-user
							.subcomment-author((click)='openModal(sub.author)')
								span.subcomment-author-name {{ sub.author }}
								span(style='color: grey;') {{ dic.comDesc }} •
								span.subcomment-author-time {{ sub.time }}
							.subcomment-desc
								span {{ sub.content }}
					.subcomment-col-right
						.subcomment-row-votes
							.subcomment-votes-couter
								span {{ sub.upvotes - sub.downvotes | abs }}
							.subcomment-votes-couter-desc
								span(*ngif='sub.upvotes - sub.downvotes < 0') {{ dic.downVote }}
								span(*ngif='sub.upvotes - sub.downvotes >= 0') {{ dic.upVote }}
							.subcomment-vote
								ul.vote
									li.vote-up([class.disabled]='!voteEnable || isComVoted(sub.id)')
										span((click)='comUpVote(sub)') ▴
									li.vote-down([class.disabled]='!voteEnable || isComVoted(sub.id)')
										span((click)='comDownVote(sub)') ▾
				.subcomment-footer(*ngif='_end')
					button.subcomment-btn {{ dic.contDisBtn }}
