.alert.alert-info(*ngIf='!(loading.status.dic && loading.status.q && loading.status.com && loading.status.user)')
	.alert-box
		.loader
	.alert-box
		| {{ loading.text }}
.layout(*ngIf='loading.status.dic && loading.status.q && loading.status.com && loading.status.user')
	.top.nowrap
		.back-button
			button.back-button((click)='goBack()') &lt;
		.q-title {{ dic.questionTitle }}
		.add-button
			button.add-button &#43;
		span.q-last-time-dis
			span {{ dic.lastDisTime }} {{ dic.lastDisTimeStatic }}
	.body
		.question.clear
			.question-col-left
				.question-row-title
					.question-avatar((click)='openModal(question.authorId)')
						img.img-circle(src='{{ getAvatar(question.authorId) }}', alt='...')
					.question-author((click)='openModal(question.authorId)')
						span.question-author-name {{ getUserName(question.authorId) }}&nbsp;
						span(style='color: grey;') {{ dic.qDesc[1] }}
					.question-title.nowrap
						span {{ question.title }}
				.question-row-content
					.question-desc
						span {{ question.content }}
			.question-col-right
				.question-row-options
					button.button-link {{ dic.unfollowBtn }}
				.question-row-votes
					.question-votes-couter
						span {{ question.upvotes - question.downvotes | abs }}
					.question-votes-couter-desc
						span(*ngIf='question.upvotes - question.downvotes < 0') {{ dic.downVote }}
						span(*ngIf='question.upvotes - question.downvotes >= 0') {{ dic.upVote }}
					.question-vote
						ul.vote
							li.vote-up([class.disabled]='!voteEnable || isQVoted(question.id)')
								span((click)='qUpVote(question)') &#9652;
							li.vote-down([class.disabled]='!voteEnable || isQVoted(question.id)')
								span((click)='qDownVote(question)') &#9662;
		.question-footer
			button.question-btn {{ dic.newAnswBtn }}
		.comments-count
			span.comments-count-number {{ question.peerAnsw }}&nbsp;
			span {{ dic.peerAnsw }} {{ getUserName(question.authorId) }}
		div(*ngFor="let com of relComments | limitComTo:'ANSWERED'; index as _i;")
			.comment.clear
				.comment-col-left
					.comment-row-title
						.comment-avatar((click)='openModal(com.authorId)')
							img.img-circle(src='{{ getAvatar(com.authorId) }}', alt='...')
						.comment-author((click)='openModal(com.authorId)')
							span.comment-author-name {{ getUserName(com.authorId) }}&nbsp;
							span(style='color: grey;') {{ dic.comDesc }} &#8226;&nbsp;
							span.comment-author-time {{ com.time }}
						.comment-desc
							span {{ com.content }}
				.comment-col-right
					.comment-row-votes
						.comment-votes-couter
							span {{ com.upvotes - com.downvotes | abs }}
						.comment-votes-couter-desc
							span(*ngIf='com.upvotes - com.downvotes < 0') {{ dic.downVote }}
							span(*ngIf='com.upvotes - com.downvotes >= 0') {{ dic.upVote }}
						.comment-vote
							ul.vote
								li.vote-up([class.disabled]='!voteEnable || isComVoted(com.id)')
									span((click)='comUpVote(com)') &#9652;
								li.vote-down([class.disabled]='!voteEnable || isComVoted(com.id)')
									span((click)='comDownVote(com)') &#9662;
			.comment-footer(*ngIf='!com.relDis')
				button.comment-btn {{ dic.comBtn }}
			div(*ngFor="let sub of relComments | limitComTo:'COMMENTED':com.id; index as _i; last as _end;")
				.subcomment.clear
					.subcomment-col-left
						.subcomment-row-title
							.subcomment-avatar((click)='openModal(sub.authorId)')
								img.img-circle(src='{{ getAvatar(sub.authorId) }}', alt='...')
							.subcomment-author((click)='openModal(sub.authorId)')
								span.subcomment-author-name {{ getUserName(sub.authorId) }}&nbsp;
								span(style='color: grey;') {{ dic.comDesc }} &#8226;&nbsp;
								span.subcomment-author-time {{ sub.time }}
							.subcomment-desc
								span {{ sub.content }}
					.subcomment-col-right
						.subcomment-row-votes
							.subcomment-votes-couter
								span {{ sub.upvotes - sub.downvotes | abs }}
							.subcomment-votes-couter-desc
								span(*ngIf='sub.upvotes - sub.downvotes < 0') {{ dic.downVote }}
								span(*ngIf='sub.upvotes - sub.downvotes >= 0') {{ dic.upVote }}
							.subcomment-vote
								ul.vote
									li.vote-up([class.disabled]='!voteEnable || isComVoted(sub.id)')
										span((click)='comUpVote(sub)') &#9652;
									li.vote-down([class.disabled]='!voteEnable || isComVoted(sub.id)')
										span((click)='comDownVote(sub)') &#9662;
				.subcomment-footer(*ngIf='_end')
					button.subcomment-btn {{ dic.contDisBtn }}
